<div class="container">
  	<h2>Gestión de Usuarios</h2>

  	<!-- Filtros -->
  	<div class="filters">
    	<input type="text" [(ngModel)]="busqueda" (input)="onSearch()" placeholder="Buscar por nombre, email o username...">
    
    <select [(ngModel)]="estadoFiltro" (change)="onSearch()">
      	<option value="">Todos los estados</option>
     	<option value="ACTIVO">Activo</option>
      	<option value="INACTIVO">Inactivo</option>
    </select>

    <button class="btn-primary">Nuevo Usuario</button>
  	</div>

  	<!-- Tabla -->
  	<table>
    	<thead>
      	<tr>
        	<th>Username</th>
        	<th>Nombre Completo</th>
        	<th>Email</th>
        	<th>Rol</th>
        	<th>Estado</th>
        	<th>Acciones</th>
      	</tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <td>{{ u.username }}</td>
        <td>{{ u.nombres }} {{ u.apellidos }}</td>
        <td>{{ u.email }}</td>
        <td><span class="badge-rol">{{ u.rol }}</span></td>
        <td>
          	<span [class]="u.estado === 'ACTIVO' ? 'text-success' : 'text-danger'">
            	{{ u.estado }}
          	</span>
        </td>
        <td>
          <button (click)="eliminarUsuario(u.id!)" *ngIf="u.estado === 'ACTIVO'">Desactivar</button>
        </td>
      	</tr>
    </tbody>
  	</table>

  	<div class="pagination-info">
    Total de registros: {{ totalElements }}
  	</div>
</div>


