<header class="header">

    <div class="logo">
        <img src="assets/ahorrar-agua.png" alt="Manantial de Vida" class="header-logo">
    </div>

    <nav class="navbar">
        <a href="#home" [class.active]="activeSection === 'home'">Inicio</a>
        <a href="#conocenos" [class.active]="activeSection === 'conocenos'">Conócenos</a>
        <a href="#beneficios" [class.active]="activeSection === 'beneficios'">Beneficios</a>
        <a href="#servicios-detallados" [class.active]="activeSection === 'servicios-detallados'">Servicios Detallados</a>
        <a href="#como-funciona" [class.active]="activeSection === 'como-funciona'">Cómo Funciona</a>
        <a href="#planes" [class.active]="activeSection === 'planes'">Planes</a>
        <a href="#nuestros-servicios" [class.active]="activeSection === 'nuestros-servicios'">Nuestros Servicios</a>
        <a href="#contacto" [class.active]="activeSection === 'contacto'">Contacto</a>

    </nav>

    <div class="buttons">

    <button class="login-btn" routerLink="/login">
        Iniciar Sesión
    </button>

    </div>

</header>

<router-outlet></router-outlet>