:host ::ng-deep {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    min-height: 90px;
    padding: 10px 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

  
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-logo {
    height: 55px;
    width: auto;
    margin-right: 15px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.navbar{
    display: flex;
    gap: 40px;
}

.navbar a{
    text-decoration: none;
    color: white;

    font-size: 18px;
    font-weight: 500;

    transition: 0.3s;
}

.navbar a:hover{
    color: #00a8ff;
}

.login-btn{
    padding: 10px 25px;
    flex-shrink: 0;

    border: none;
    border-radius: 10px;

    background: #00a8ff;
    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s;
}

.login-btn:hover{
    background: #0097e6;

    transform: scale(1.05);
}